body {
    background-color: #212922;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
}
#card {
    width: 50vw;
    height: 95vh;
    margin: auto;
    background-color: #3E6259;
    border-radius: 20px;
    
}
#name {
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}
#inc {
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-size: small;
    font-style: italic;
}
#category {
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}
.cont {
    background-color: #294936;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imagecont {
    height: 55vh;
    width: 50vh;
    min-width: fit-content;
    padding-bottom: auto;
}
#desc {
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-size: small;
}
#button {
    margin: 2px;
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    background: none!important;
    border: none;
    padding: 0!important;
}